.body {
    background-color: #f7f9fc;
}

.selected {
    background-color: #c2e7ff;
}

.alumni {
    min-height: calc(100vh - 6rem);
    padding-top: 2rem;
    display: flex;
    // align-items: center;
    // justify-content: flex-start;
    gap: 2rem;

    .sidebar {
        display: flex;
        align-self: flex-start;
        flex-direction: column;
        gap: 1rem;
        width: 20vw;

        &__title {
            font-size: 2rem;
            font-weight: 400;
        }

        &__year {
            display: flex;
            flex-direction: column;
            gap: 0.2rem;
        }

        &__btn {
            display: flex;
            justify-content: flex-start;
            border-radius: 2rem;

            &:hover {
                background-color: #c2e7ff;
            }
        }
    }

    .main {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 1.6rem;

        .list {
            display: inherit;
            flex-direction: inherit;
            width: inherit;
            gap: 0.6rem;
            background-color: #ffffff;
            border-radius: 18px;
            padding: 1.2rem 1.5rem;
        }

        &__title {
            font-size: 2rem;
        }

        .search {
            width: inherit;
            display: inherit;
            flex-direction: inherit;
            gap: 1.5rem;

            &__bar {
                width: inherit;
                display: flex;
                align-items: center;

                img {
                    position: absolute;
                    width: 2rem;
                    margin-left: 1rem;
                }

                &__input {
                    padding: 0.5rem 1.2rem 0.5rem 3rem;
                    width: inherit;
                    border-radius: 2rem;
                    background-color: #edf2fc;
                }
            }
        }

        .table {
            width: inherit;
            display: inherit;
            flex-direction: inherit;
            gap: 1rem;

            &__content {
                width: inherit;
                border: none;

                th {
                    border-bottom: 0.3px solid $independence-60;
                }

                td {
                    border-bottom: none;
                }

                td:not(:first-child),
                th:not(:first-child) {
                    text-align: center;
                }

                img {
                    width: 2rem;
                    border-radius: 2rem;

                    &:hover {
                        background-color: #edf2fc;
                    }
                }
            }
        }
    }

    .pagination {
        display: flex;
        justify-content: center;
        gap: 0.6rem;

        > * {
            display: inherit;
            justify-content: center;
            width: 0.8rem;
            border-radius: 100%;
        }

        > :hover {
            background-color: #c2e7ff;
        }
    }
}

// popup modal

section {
    // border: 1px solid #000;
    position: absolute;
    display: flex;
    height: 100%;
    width: 100%;
    // opacity: 0.3;
    // background: rgba(0, 0, 0, 0.1);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: -1;
}
section.active {
    z-index: 1;
}
/* wadah untuk modal boxnya */
.overlay {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
}
/* wadah untuk modal boxnya */

/* nampilin overlaynya */
section.active .overlay {
    opacity: 1;
    pointer-events: auto;
}
/* nampilin overlaynya */


/* modal boxnya */
.modal-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 650px;
    width: 100%;
    padding: 30px 20px;
    border-radius: 24px;
    background-color: #fff;
    // opacity: 1;
    opacity: 0;
    pointer-events: none;
    transition: 0.3s;
    position: absolute;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    transform: translate(-50%, 0%);
}
/* modal boxnya */

/* nampilin modal boxnya*/
section.active .modal-box {
    opacity: 1;
    pointer-events: auto;
}
/* nampilin modal boxnya*/

/* modal box detail */

.modal-box h2 .judul {
    font-style: "poppins";
    margin-top: 20px;
    font-size: 25px;
    font-weight: 500;
}

.modal-box h4 {
    margin-top: 1rem;
    font-size: 1rem;
    font-weight: 400;
    color: #333;
    text-align: center;
}

.modal-box .buttons {
    margin-top: 25px;

    button {
        font: size 1.125rem;
        font-weight: 400;
        color: #fff;
        padding: 14px 22px;
        border: none;
        background: #4070f4;
        border-radius: 6px;
        cursor: pointer;

        &:hover {
            background: #2e5bff;
        }
    }
}

.modal-box button {
    font-size: 14px;
    padding: 6px 12px;
    margin: 0 10px;
}
/* modal box detail */

/* Modal box isinya */
.modal-box {
    .detail-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .field {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 1rem;
            width: 100%;
            margin-top: 1rem;

            .form-group-detail {
                margin: 0.5rem 0;
                width: 100%;
                display: flex;
                flex-direction: column;

                .form-label {
                    margin-bottom: 0.25rem;
                }

                span {
                    width: 100%;
                    padding: 0.5rem;
                    border-radius: 0.375rem;
                    border: 2px solid rgba(209, 213, 219, 0.5);
                    background: #fff;
                    padding: 0.5rem 1rem;
                    display: block;
                    overflow-wrap: break-word;
                }

                span:hover {
                    border: 2px solid $tufts-blue;
                    transition: all 0.2s linear;
                }
            }

            .field-left {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
            }

            .field-right {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                width: 50%;
                height: 100%;
            }
        }
    }
}